<form enctype="multipart/form-data" action="/blog/submitPostChanges/{{ myPost.id }}" method="post" id="create-post-form">
    {% csrf_token %}
    <input placeholder="عنوان پست ..." name="title" id="post-title" type="text" maxlength="200">
    <textarea placeholder="متن پست ..." name="body" id="post-body" max-length = "100000"></textarea>
     <select id="post-cat" name="selectedCat">
          {% for i in categories %}
              <option>{{ i.name }}</option>
          {% endfor %}
     </select>
    <select id="post-status" name="status">
         <option>پیش نویس</option>
         <option>پخش در همین لحطه(در صورت خالی بودن تاریخ انتشار)</option>
    </select>
     <label style="display: inline" for="is_important">این خبر مهم است؟</label>
     <input id="post-important" name="is_important" type="radio">
    <input id="post-image" name="img" type="file">
    <button id="submit-changes">اعمال تغییرات</button>
</form>